API_KEY=replace-with-a-long-random-secret
MONGODB_URI=mongodb+srv://arizorajoelina:KkSOpuj65QAE9Jxo@cluster0.ocgic1t.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGODB_DB_NAME=service_boilerplate
